1-Repositorios/birt
1-Repositorios/cdt
1-Repositorios/datatools
1-Repositorios/eclipse.jdt.core
1-Repositorios/eclipse.pde
1-Repositorios/eclipselink
1-Repositorios/egit
1-Repositorios/gef
1-Repositorios/gef-classic
1-Repositorios/gmf-runtime
1-Repositorios/m2e-core
1-Repositorios/org.eclipse.emf
1-Repositorios/org.eclipse.mylyn
1-Repositorios/org.eclipse.rap
1-Repositorios/ptp
1-Repositorios/scout.rt
1-Repositorios/subclipse
1-Repositorios/windowbuilder
3-Mapeamento_features_simrel/diagramas/2018-09.dot
3-Mapeamento_features_simrel/diagramas/2018-12.dot
3-Mapeamento_features_simrel/diagramas/2019-03.dot
3-Mapeamento_features_simrel/diagramas/2019-06.dot
3-Mapeamento_features_simrel/diagramas/2019-09.dot
3-Mapeamento_features_simrel/diagramas/2019-12.dot
3-Mapeamento_features_simrel/diagramas/2020-03.dot
3-Mapeamento_features_simrel/diagramas/2020-06.dot
3-Mapeamento_features_simrel/diagramas/2020-09.dot
3-Mapeamento_features_simrel/diagramas/2020-12.dot
3-Mapeamento_features_simrel/diagramas/2021-03.dot
3-Mapeamento_features_simrel/diagramas/2021-06.dot
3-Mapeamento_features_simrel/diagramas/2021-09.dot
3-Mapeamento_features_simrel/diagramas/2021-12.dot
3-Mapeamento_features_simrel/diagramas/2022-03.dot
3-Mapeamento_features_simrel/diagramas/2022-06.dot
3-Mapeamento_features_simrel/diagramas/2022-09.dot
3-Mapeamento_features_simrel/diagramas/2022-12.dot
3-Mapeamento_features_simrel/diagramas/2023-03.dot
3-Mapeamento_features_simrel/diagramas/2023-06.dot
3-Mapeamento_features_simrel/diagramas/2023-09.dot
3-Mapeamento_features_simrel/diagramas/2023-12.dot
3-Mapeamento_features_simrel/diagramas/2024-03.dot
3-Mapeamento_features_simrel/diagramas/2024-06.dot
3-Mapeamento_features_simrel/diagramas/2024-09.dot
3-Mapeamento_features_simrel/diagramas/2024-12.dot
3-Mapeamento_features_simrel/diagramas/2025-03.dot
3-Mapeamento_features_simrel/diagramas/2025-06.dot
3-Mapeamento_features_simrel/diagramas/2025-09.dot
3-Mapeamento_features_simrel/diagramas/2025-12.dot
3-Mapeamento_features_simrel/diagramas/2026-03.dot
3-Mapeamento_features_simrel/diagramas/JunoSR0.dot
3-Mapeamento_features_simrel/diagramas/JunoSR1.dot
3-Mapeamento_features_simrel/diagramas/JunoSR2.dot
3-Mapeamento_features_simrel/diagramas/KeplerPostRC4.dot
3-Mapeamento_features_simrel/diagramas/KeplerSR0.dot
3-Mapeamento_features_simrel/diagramas/KeplerSR1.dot
3-Mapeamento_features_simrel/diagramas/LunaRC4.dot
3-Mapeamento_features_simrel/diagramas/LunaSR0.dot
3-Mapeamento_features_simrel/diagramas/LunaSR2.dot
3-Mapeamento_features_simrel/diagramas/Mars.1.dot
3-Mapeamento_features_simrel/diagramas/Neon.1.dot
3-Mapeamento_features_simrel/diagramas/Neon.1a.dot
3-Mapeamento_features_simrel/diagramas/Neon.2.dot
3-Mapeamento_features_simrel/diagramas/Neon.3_respin.dot
3-Mapeamento_features_simrel/diagramas/Neon.3.dot
3-Mapeamento_features_simrel/diagramas/Neon.dot
3-Mapeamento_features_simrel/diagramas/Oxygen.1.dot
3-Mapeamento_features_simrel/diagramas/Oxygen.1a_respin.dot
3-Mapeamento_features_simrel/diagramas/Oxygen.1a.dot
3-Mapeamento_features_simrel/diagramas/Oxygen.2_respin.dot
3-Mapeamento_features_simrel/diagramas/Oxygen.2.dot
3-Mapeamento_features_simrel/diagramas/Oxygen.3.dot
3-Mapeamento_features_simrel/diagramas/Oxygen.dot
3-Mapeamento_features_simrel/diagramas/OxygenPreRienaRemoval_9-8-2016.dot
3-Mapeamento_features_simrel/diagramas/Photon.0.dot
3-Mapeamento_features_simrel/diagramas/PhotonM7.dot
3-Mapeamento_features_simrel/diagramas/PhotonRC4.dot
3-Mapeamento_features_simrel/diagramas/S201504150911.dot
3-Mapeamento_features_simrel/diagramas/z20140805-2300.dot
3-Mapeamento_features_simrel/diagramas/z20140806.dot
3-Mapeamento_features_simrel/simrel_mapper/__pycache__/models.cpython-314.pyc
1-Repositorios/birt
1-Repositorios/cdt
1-Repositorios/datatools
1-Repositorios/eclipse.jdt.core
1-Repositorios/eclipse.pde
1-Repositorios/eclipselink
1-Repositorios/egit
1-Repositorios/gef
1-Repositorios/gef-classic
1-Repositorios/gmf-runtime
1-Repositorios/m2e-core
1-Repositorios/org.eclipse.emf
1-Repositorios/org.eclipse.mylyn
1-Repositorios/org.eclipse.rap
1-Repositorios/ptp
1-Repositorios/scout.rt
1-Repositorios/subclipse
1-Repositorios/windowbuilder
3-Mapeamento_features_simrel/simrel_mapper/__pycache__/models.cpython-314.pyc

# Ignore large CSVs and any target/ directory at any level
results/
**/target/

